[v-cloak] {
  display: none;
}
body {
  padding: 20px 40px;
}
h1 {
  margin-left: 10px;
}
.color-red {
  color: #e61e1e;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  font-weight: 900;
  color: #e74c3c;
  transform: translate(-50%, -50%);
  text-align: center;
}
.searchBar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.inputGroup {
  display: flex;
}
.inputGroup label {
  margin: 0 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: #f4f4f4;
  border-radius: 10px;
}
.inputGroup input[type='text'] {
  font-size: 14px;
}
select {
  cursor: pointer;
}
.lh-47 {
  line-height: 47px;
}

.table tbody th {
  color: #2c3e50;
}
